*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;

  justify-content: center;
  padding-top:1rem;
}

.table{

  background:wheat;
  padding-left:5vw;
  padding-right:5vw;
}
.opponent{
  height:30vh;
  border:1px solid red;
}
.arena{
  display:flex;
  flex-direction: row;
  justify-content:center;
  
  height:25vh;
  border:1px solid green;
  background: rgb(108, 129, 110);
  padding-left: 5rem;;
}
.player{
  height:40vh;
  border:1px solid red;
}

.player-cards{
  padding-top:1rem;
  display: flex;
  flex-direction: row;
  align-content: left;
  justify-content:space-around;
  flex-wrap: wrap;
  
}

img.card{
  width:120px;
  border: 1px solid black;
  /* background:rgb(108, 129, 110); */
  border-radius: 0.5rem;
  cursor:pointer;
  
  
}

.cardback{
    width:120px;
    border: 1px solid green;
    border-radius: 0.5rem;
    margin-right:3rem;
}

.stack{
  box-shadow: 6px 9px 2px 0px #666;
}

.jasshero{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:10rem;
  font-weight: bold;
  font-style: italic ;

}